@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url(https://fonts.google.com/specimen/Roboto+Condensed);
  font-weight: bolder;
}

.storeContainer {
    margin: 2rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}

body {

  border-radius: 20px;
  background-image: url(https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg);
  height: auto;
  margin: auto;
  background-size: cover;
  backdrop-filter:unset;
}
table {
    width: 85rem;
    border: 9px solid rgb(255, 255, 255);
}

td {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    padding-top: 13px;
}

div {
  display: block;
  margin: 2rem;
  text-align: center;
  width: 85rem;
  font-size: 2rem;
  display: inline-block;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: red;
}
title {
  display: block;
  margin: 2rem;
  text-align: center;
  width: 85rem;
  font-size: 2rem;
  display: inline-block;
  color: white;
}
th {
    height: 30px;
    padding: 10px 5px;
    font-size: 1.1rem;
    font-family: 'Secular One', sans-serif;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/

main img {
  margin: 2rem;
  width: 20rem;
  display: inline-flex ;
  
}

input:focus {
  border-color: red;
  color: red;
  border-radius: 1rem;
  border: 2rem;
}

button {
  background-color: #ffffff;
  color: #37ff00;
  float: center;
  padding: 1rem;
  border-radius: 5rem;
  margin: 1rem;
  background-image: url(https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg);
  background-size: cover;
}
